
<div class="row">
<div class="col-xs-9 col-sm-4" >
</div>
<div class="col-xs-6 col-sm-4">

	<h1  style="text-align: center; font-size: 80px;  font-family: 'Lobster', serif;">Aplikacja</h1>
	<h1 font-family:"papyrus" style="text-align: center; font-size: 60px;   font-family: 'Lobster', serif;">Rezerwacja Zajęć</h1>

	<div class="login_button">
	 <% if user_signed_in? %>
	 <% elsif %>

	 	<hr>

		<%= link_to "Zaloguj", user_session_path, class: "btn btn-primary btn-lg" %>
	<% end %>
	</div>
</div>

</div>

